@font-face {
    font-family: "FONT";
    src: url(HelveticaforTarget-Bold.ttf) format('truetype');
}
body{
    background-color: black;
    font-family: "FONT";
}
h1{
    color: white;
}
.world{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 6em;
    background-color: orangered;
}
.mo1{
    max-width: 50%;
    max-height: 50%;
    object-fit: fill;
}