@font-face {
    font-family: "FONT";
    src: url(HelveticaforTarget-Bold.ttf) format('truetype');
}
.link1{
    text-decoration: none;
    color: inherit;
}
body{
    background-color: black;
    font-family: "FONT";
    color: white;
}