@font-face {
    font-family: "FONT";
    src: url('C://Users//Admin//Documents//GitHub//mycaquli2.github.io//root//src//pages//HelveticaforTarget-Bold.ttf') format('truetype');
}
body{
    background-color: black;
    font-family: "FONT";
}
h1{
    color: white;
}
.world{
    position: absolute;
    width: 100px;
    height: 100px;
    right: 6em;
    background-color: orangered;
}
.mo1{
    position: relative;
    z-index: -1;
    bottom: 5em;
}