@font-face {
    font-family: "FONT";
    src: url(HelveticaforTarget-Bold.ttf) format('truetype');
}
body{
    background-color: black;
    font-family: "FONT";
    color: white;
}
.link1{
    text-decoration: none;
    color: inherit;
}
.gapDiv{
    gap: 60px;
    display: flex;
}
.div1{
    width: 100px;
    height: 100px;
    background-color: red;
}
.div2{
    width: 100px;
    height: 100px;
    background-color: brown; 
}
.div3{
    width: 100px;
    height: 100px;
    background-color: darkred;
}